@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}


@font-face{
	font-family: mainFont;
	src:url("fonts/Madelina_Bold.ttf");
}

@font-face{
	font-family: secondFont;
	src:url("fonts/CormorantUnicase-SemiBold.ttf");
}

body {
	background-image:
		url("https://www.muralswallpaper.com/app/uploads/cracked-natural-marble-textures-plain.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2000px 1750px;
}

/* Ustawienie okna z lista */
.left {
	top: calc(50% - 240px);
	right: calc(65% - 160px);
	position: absolute;
	text-align: center;
	background: #fff;
	width: 600px;
	height: 600px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	
}

.item {
	color: rgba(235,187, 165);
	font-size: 20px;
}

/* Ustawienie formularza */
.container {
	position: absolute;
	width: auto;
	height: auto;
	top: calc(50% - 240px);
	left: calc(65% - 160px);
}

form {
	position: absolute;
	text-align: center;
	background: #fff;
	width: 600px;
	height: 600px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

p{
	font-family: 'secondFont', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 20px;
	color: rgba(235,187, 165);
	margin-bottom: 40px;
	text-decoration: none;
}

a{
	text-decoration: none;
	color: #ffff;
	font-family: 'secondFont';
}

h1 {
	text-align: center;
	font-family: 'mainFont';
	font-size: 120px;
	color: rgba(235,187, 165);
	margin-bottom: 30px;
	margin-top: 60px;
	text-shadow: 2px 2px grey;
}

h3 {
	font-family: 'secondFont';
	font-size: 40px;
	text-transform: uppercase;
	color: grey;
	margin-bottom: 30px;
	text-align: center;
}

input, button {
	outline: none !important;
}

button.form-btn {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	border: 0;
	font-family: 'secondFont';
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

button.form-btn.dx {
	right: 0;
	border-radius: 0 0 5px 0;
	background-color: rgba(235,187, 165);;
	color: #fff;
}

input {
	border: none;
	border-bottom: 1px solid #ffc185;
	width: 65%;
	font-family: 'secondFont';
	color: grey;
	text-align: center;
	font-size: 35px;
	font-weight: 100;
	margin-bottom: 30px;
}

/* Wyglad placehoderow */
::-webkit-input-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

:-moz-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

::-moz-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

:-ms-input-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}


@
keyframes overshadowing-dx { 0%{
	z-index: 2;
	transform: perspective(100px) translate3d(0px, 0px, 0px);
	opacity: 1;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}

100%{
z-index
:
 
1;
transform
:
 
perspective
(100px)
 
translate3d
(100px
,
0
px
,
-30
px
);

        
opacity
:
 
0
.5
;

        
box-shadow
:
 
0
10
px
 
20
px
 
0
rgba
(0
,
0,
0,
0
.25
);

    
}
}
@
keyframes overshadowing-sx { 0%{
	z-index: 2;
	transform: perspective(100px) translate3d(0px, 0px, 0px);
	opacity: 1;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}

100%{
z-index
:
 
1;
transform
:
 
perspective
(100px)
 
translate3d
(-100px
,
0
px
,
-30
px
);

        
opacity
:
 
0
.5
;

        
box-shadow
:
 
0
10
px
 
20
px
 
0
rgba
(0
,
0,
0,
0
.25
);

    
}
}
@
keyframes foregrounding-dx { 0%{
	z-index: 1;
	transform: perspective(100px) translate3d(100px, 0px, -30px);
	opacity: 0.5;
}

50%{
z-index
:
2;

        
transform
:
 
perspective
(100px)
 
translate3d
(400px
,
0
px
,
-30
px
);

    
}
100%{
z-index
:
2;

        
transform
:
 
perspective
(100px)
 
translate3d
(0px
,
0
px
,
0
px
);

        
opacity
:
 
1;
}
}
@
keyframes foregrounding-sx { 0%{
	z-index: 1;
	transform: perspective(100px) translate3d(-100px, 0px, -30px);
	opacity: 0.5;
}
50%{
z-index
:
2;

        
transform
:
 
perspective
(100px)
 
translate3d
(-400px
,
0
px
,
-30
px
);

    
}
100%{
z-index
:
2;

        
transform
:
 
perspective
(100px)
 
translate3d
(0px
,
0
px
,
0
px
);

        
opacity
:
 
1;
}
}

/* button */
p, a {
	color: #fff;
	margin: 0;
	text-decoration: none;
}

.cont {
	position: absolute;
	display: list-item;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 820px;
	top: 17%;
	margin-left: 512px;
}

.button_main {
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	background: rgba(235,187, 165);;
	
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color: #fff;
	text-decoration: none;
}

.button_main:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: rgba(235,187, 165);
	right: 0;
	left: auto;
}

.button_main:hover {
	cursor: pointer;
}

.button_main:hover:after {
	width: 100%;
	left: 0;
}