@charset "UTF-8";
@font-face{
	font-family: mainFont;
	src:url("fonts/Madelina_Bold.ttf");
}

@font-face{
	font-family: secondFont;
	src:url("fonts/CormorantUnicase-SemiBold.ttf");
}


p, a {
	color: #fff;
	margin: 0;
	text-decoration: none;
}

.cont {
	position: absolute;
	display: block;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 820px;
	bottom: 7%;
	margin-left: 512px;
}

.button_main {
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	background: rgba(235, 187, 165);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color: #fff;
	text-decoration: none;
}

.button_main:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: #fff;
	right: 0;
	left: auto;
}

.button_main:hover {
	cursor: pointer;
}

.button_main:hover:after {
	width: 100%;
	left: 0;
}