@charset "UTF-8";
@font-face{
	font-family: mainFont;
	src:url("fonts/Madelina_Bold.ttf");
}

@font-face{
	font-family: secondFont;
	src:url("fonts/CormorantUnicase-SemiBold.ttf");
}

body {
	background-image:
		url("https://www.muralswallpaper.com/app/uploads/cracked-natural-marble-textures-plain.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2000px 1750px;
}

h1 {
	text-align: center;
	font-family: 'mainFont';
	font-size: 100px;
	color: rgba(235,187, 165);
	margin-bottom: 30px;
	margin-top: 30px;
	text-shadow: 2px 2px grey;
}

h3{
	text-align: center;
	font-family: 'secondFont';
	font-size: 40px;
	color: rgba(235,187, 165);
	text-shadow: 2px 2px grey;
	margin-bottom: 3px;
	margin-top: 10px;
	
}
.list {
	font-family: 'secondFont';
	background: rgba(235,187, 165, 0.35);
	margin: 20px; position : relative;
	text-align: center;
	float: left;
	width: 400px;
	height: auto;
	border-radius: 5px;
	padding: 20px; box-shadow : 0 10px 50px 0 rgba( 0, 0, 0, 0.25);
	box-sizing: border-box;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	position: relative;
}

.list p,a{
	bottom:2%;
}

.items {
	color: #fff;
	font-size: 20px;
	text-align: left;
	
}

#lists {
	margin-top: 200px;
}

.name {
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	
}

/* button */
p, a {
	color: #fff;
	margin: 0;
	text-decoration: none;
}

.cont {
	position: absolute;
	display: block;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 820px;
	top: 30%;
	margin-left: 512px;
}

.button_main {
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	background: rgba(235,187, 165);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color: #fff;
	text-decoration: none;
}

.button_main:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: #fff;
	right: 0;
	left: auto;
}

.button_main:hover {
	cursor: pointer;
}

.button_main:hover:after {
	width: 100%;
	left: 0;
}