@charset "UTF-8";

@font-face{
	font-family: mainFont;
	src:url("fonts/Madelina_Bold.ttf");
}

@font-face{
	font-family: secondFont;
	src:url("fonts/CormorantUnicase-SemiBold.ttf");
}


.singleInput {
	font-family: 'secondFont';
	margin-bottom: 100px;
	height: 40px;
	margin-right: 20px;
	color: grey;
	width: 78%;
	text-align: left;
	margin-left: 27%;
	font-size: 20px;
	
}

input {
	border: none;
	border-bottom: 1px solid rgba(235,187, 165);
	width: 45%;
	font-family: 'secondFont';
	color: grey;
	text-align: center;
	font-size: 25px;
	font-weight: 100;
	margin-bottom: 30px;
	height: 40px;
	margin-right: 20px;
}

/* Wyglad placehoderow */
::-webkit-input-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

:-moz-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

::-moz-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

:-ms-input-placeholder {
	color: grey;
	font-family: 'secondFont';
	font-weight: 100;
}

button.form-btn {
	position: absolute;
	width: 10%;
	height: 40px;
	border: 0;
	font-family: 'secondFont';
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	background: rgba(235,187, 165);
	border: 1px solid rgba(235,187, 165);
	color: #fff;
}

button:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: #fff;
	right: 0;
	left: auto;
}

button:hover {
	cursor: pointer;
}

button:hover:after {
	width: 100%;
	left: 0;
}